
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoVia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> -->
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% endblock %}

  </head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/home/"> <img src="{% static '/imagenes/logo.png' %}" alt="EcoVia" style="max-width: 70px; max-height: 70px;">EcoVia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" >
                    <a href="/home" class="nav-link">Pagina principal </a>
                   </li>
                  
                   <li class="nav-item" >
                    <a href="/ver_comentarios" class="nav-link">Ver Comentarios </a>
                   </li>
                   
                   {% if user.is_authenticated %}
                   <li class="nav-item" >
                    <a href="/crear_comentario" class="nav-link">Crear Comentario </a>
                   </li>
                   <li class="nav-item" >
                      <a href="/logout"class="nav-link">Cerrar Sesion </a>
                  </li>
                  {% else %}
                      <li class="nav-item" >
                        <a href="/registrarse" class="nav-link">Registrarse </a>
                      </li>
                      <li class="nav-item" >
                        <a href="/iniciar_sesion" class="nav-link">Iniciar Sesion </a>
                  {% endif %}
                  
                   
          </div>
        </div>
      </nav>
    {% block content %}
   
    {% endblock %}
   
    <footer >
      <p>&copy; 2023 Mi Página. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
