{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<form method="POST" action="{% url 'crear_respuesta' %}">
    {% csrf_token %}
    <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
    {{ respuesta_form.as_p }}
    <button type="submit">Responder</button>
  </form>
{% endblock %}