{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<form class="comment-form" method="POST" action="{% url 'crear_comentarios' %}"> 
  {{ error }}
  {% csrf_token %}

  <div class="form-group">
    <label for="id_texto">Texto:</label>
    {{ form.texto }}
  </div>

  <button type="submit">Enviar</button>
</form>
{% endblock %}