{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<form class="comment-form" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar cambios</button>
</form>
{% endblock %}
