{% extends 'layouts/base.html'%}
{% load static%}
{%block content%}
<main class="contianer py-5">
    <section class="card card-body">
        <h1 class="display text-center">¡ Bienvenido !</h1>
        <p>Esta página es para su información de reciclar y pueda comentar lo que usted considere importante.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/iniciar_sesion/">Iniciar Sesion</a>
            <a class= "btn btn-primary"href="/registrarse/">Registrarse </a>
        </div>
    </section>
</main>
{%endblock%}