{% extends 'layouts/base.html' %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center vh-100 gray-bg">
    <form method="POST" class="registro-form registration-form">
      {% csrf_token %}
      <h1>Registro</h1>
      {{error}}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
        {{ form.email }}
      </div>
      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
        {{ form.password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
        {{ form.password2 }}
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
{% endblock %}