{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar respuesta</button>
  </form>
{% endblock %}
