{%extends 'layouts/base.html'%}
{% load static %}
{% block content %}
{% for comentario in comentarios %}
    <div class="comentario">
        <h3 class="comentario-usuario">{{ comentario.usuario }}</h3>
        <p class="comentario-texto">{{ comentario.texto }}</p>
        <p class="comentario-texto">{{ comentario.creacion }}</p>
        {% for respuesta in respuestas %}
            {% if respuesta.comentario.id == comentario.id %}
                <div class="respuesta">
                    <h4 class="respuesta-usuario">{{ respuesta.usuario }}</h4>
                    <p class="respuesta-texto">{{ respuesta.texto }}</p>
                </div>
            {% endif %}
        {% endfor %}
        
        {% if comentario.usuario == request.user %}
            <a href="{% url 'editar_comentario' comentario.id %}">Editar</a> 
            <a href="{% url 'eliminar_comentario' comentario.id %}">Eliminar</a>
        {% endif %}
        
        {% if user.is_authenticated %}
            <form class="respuesta-form" method="POST" action="{% url 'crear_respuesta' %}">
                {% csrf_token %}
                <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                {{ respuesta_form.texto }}
                <button type="submit">Responder</button>
            </form>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
